.hyper-form {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);

  z-index: 9999;

  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  background: white;
  border-radius: 16px;
  width: 350px;

  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
  color: #fff;

  .lines {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    // background-color: #ff8080;
  }
  .form-field {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    mat-slider {
      width: 100%;
    }

    .form-label-container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .form-label {
        font-weight: 300;
        color: black;
      }

      .form-value {
        font-size: 0.9rem;
        color: #aaa;
      }
    }

    mat-hint, mat-error {
      font-size: 0.8rem;
      color: #ff8080;
      margin-top: 0.25rem;
    }
  }
  .form-field-data {
    display: flex;
    // align-items: center;
    justify-content: center;
    flex-direction: flex;
    gap: 0.5rem;
  }

  .full-width {
    width: 100%;
  }

  .form-actions {
    display: flex;
    justify-content: space-around;
    // margin-top: 1rem;
    gap: 10px;

    button {
      // border-radius: 8px;
      font-weight: 600;
    }
  }
}
